header{
    color: firebrick;
    font-family: cursive;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
}
body{
    width: 550px;
    margin: auto;
    background-color: goldenrod;
}

.square{
    height: 80px;
    width: 80px;
    font-size: 40px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#message{
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#btn{
    background-color: rgb(42, 81, 209);
    border-radius: 10px;
    border: 10 black;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}